LogLevel VERBOSE
ChallengeResponseAuthentication no
UsePAM no
DisableForwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp internal-sftp
DebianBanner no
PermitRootLogin yes
ForceCommand internal-sftp
ChrootDirectory /mnt/
