ChallengeResponseAuthentication no
UsePAM no
DisableForwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem       sftp    /usr/lib/openssh/sftp-server
DebianBanner no
PermitRootLogin yes
ForceCommand internal-sftp
ChrootDirectory /mnt/
