AddressFamily inet
Port 22
ListenAddress 0.0.0.0
LogLevel VERBOSE
ChallengeResponseAuthentication no
UsePAM no
DisableForwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp internal-sftp
DebianBanner no
PermitRootLogin yes
AllowUsers root
ForceCommand internal-sftp
ChrootDirectory /mnt/
